<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <h1>All listings : </h1>
        <div class="listings_grid">
            <% for(listing of allListings) { %>
                <a class="text_deco_none" href="/listings/<%= listing._id %>">
                    <div class="listing_card card border_none" style="width: 17rem;">
                        <img src="<%= listing.image %>" class="card-img-top" alt="Destination Image">
                        <div class="overlay">
                            <div class="location">
                                <%= listing.location %>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="title"><b>
                                    <%= listing.title %>
                                </b></div>
                            <div class="price">
                                &#x20B9 <%= listing.price.toLocaleString() %>/night
                            </div>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>