<% layout("/layouts/boilerplate.ejs") %>
    <body>
        <div class="dis_flex jus_cen flex_col aln_cen">
            <h2 style="align-self: flex-center;">
                <%= listing.title %>
            </h2>
            <div class="show_card card mt-3" style="width: 65vw;">
                <img src="<%= listing.image %>" class="card-img-top" alt="Location Image">
                <div class="card-body">
                    <h5 class="card-subtitle mb-3 text-body-secondary">&#x20B9 <%= listing.price.toLocaleString() %>
                            /night</h5>
                    <div class="dis_flex" style="gap: 10px;">
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            <%= listing.location %>
                        </h6>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            <%= listing.country %>
                        </h6>
                    </div>
                    <p class="card-text">
                        <%= listing.description %>
                    </p>
                    <% if(userLoggedin && userLoggedin._id.equals(listing.owner)) { %>
                    <div class="dis_flex" style="gap: 10px;">
                        <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary">Edit</a>
                        <form action="/listings/<%= listing._id %>?_method=DELETE" , method="post">
                            <button type="submit" class="btn btn-danger">Delete Listing</button>
                        </form>
                    </div>
                    <% } %>

                </div>

            </div>
        </div>
        <% if(userLoggedin) { %>
        <div class="mt-3 mb-3 dis_flex flex_col aln_cen">
            <form action="/listings/<%= listing._id %>/review" method="post" novalidate class="needs-validation"
                style="width: 80%;">
                <h5>Add Review</h5>
                <div class="mt-3 mb-3">
                    <label class="form-label" for="rating">Rating</label>
                <fieldset class="starability-slot">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                    <!-- <input class="form-control" type="range" name="review[rating]" min="1" max="5"> -->
                </div>
                <div class="mb-3">
                    <label class="form-label" for="comments">Comments</label>
                    <textarea class="form-control" rows="5" name="review[comment]" id="" required></textarea>
                    <div class="invalid-feedback">
                        Required Field
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <% } %>
            <div class="reviews_box mt-3 mb-3">
                <% for(review of listing.reviews) { %>
                    <div class="review_card card mb-3">
                            <div class="card-title">@<%= review.author.username %></div>
                            <div class="card-subtitle ">
                                <%= review.comment %>
                            </div>
                            <div class="card-subtitle text-body-secondary">
                                <p class="mt-3 mb-3 starability-result static_rating" data-rating="<%= review.rating %>"></p>
                                <% if(userLoggedin && userLoggedin._id.equals(review.author._id)) { %>
                                <form action="/listings/<%= listing._id %>/review/<%= review._id%>?_method=Delete" method="post">
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                                <% } %>
                            </div>
                    </div>
                    <% } %>
            </div>
    </body>